html,body{
    width: 100%;
    height: 100%;
}

#menu{
    width: 10%;
    height: 100%;
    display: inline;
    position:absolute;
    background-color: #00BCD4;
}

#checkerboard{
    width: 90%;
    height: 100%;
    display: inline;
    position:absolute;
    margin-left: 10%;
    background-color: #FFC107;

}

#checkerboardCanvas{
    width: 100%;
    height: 100%;
}

#currentChessmanCanvas{
    width: 100%;
    height: auto;
}
